
@{
    ViewBag.Title = "TempChecker";
}

@model WebApplicationAssigment.Models.TempService



<h3>Are you feeling unwell? Concerned you have Covid 19?</h3>

<p>Please input your tempature below</p>


<form asp-action="TempChecker" method="post">
    
    <label asp-for="Temperature"></label>
    <input asp-for="Temperature" />

    <input type="submit" value="Check" />

</form>

<tbody>
    @if (ViewBag.TempResult != null)
    {
        @ViewBag.TempResult
    }
</tbody>


