
@{
    ViewBag.Title = "TempChecker";
}

@model WebApplicationAssigment.Models.TempService



<b>Temperature:</b>

<h2>Are you feeling unwell? Concerned you have Covid 19?</h2>

<p>Please input your tempature below</p>


<form asp-action="TempChecker" method="post">
    //use this for both number and temp
    <label asp-for="Temperature"></label>
    <input asp-for="Temperature" />

    <input type="submit" value="TempChecker" />

    <input type="number" name="temperature" />

</form>

}

<tbody>
    @if (ViewBag.TemperatureResult != null)
    {
        @ViewBag.TemperatureResult
    }
</tbody>


