@model WebApplicationAssigment.Models.GuessingGame;

@{
    ViewBag.Title = "GuessingGame";
}

<h2>Want to have some fun? Try to guess a randomly selected number between 1 and 100</h2>

<p>Please input your guess below</p>

<form asp-action="GuessingGame" method="post">
    <label for="guess">Guess:</label>
    <input id="guess" name="guess" type="number" />

    <input type="submit" value="Submit Number" />
</form>

@ViewBag.GuessingGame;

<tbody>
    @if (ViewBag.Result != null)
    {
        <p>@ViewBag.Result</p>
        <p>Guess:@ViewBag.Guess</p>
        <p>Generated Number:@ViewBag.RandomNumber</p>
    }
</tbody>