@{
    ViewBag.Title = "About"; 
}

<h1>
    About Jejjcop Web Solutions
</h1>

<p>Jejjcop Web Solutions AB är en webbyrå i Växjö som specialiserar sig på att skapa snygga och professionella hemsidor / webbplatser åt företag i alla storlekar.</p>
