@{
    ViewBag.Title = "Contact";
}

<h1>
    Contact us!
</h1>

<p>
    Be mig om en gratis offert!
    Nyfiken på att skaffa ny hemsida eller webbshop till ditt företag? Du är mycket välkommen att ta kontakt med mig – jag skickar dig gärna en gratis offert!

    Per Jacobsson
    VD / Webbkonsult

    Tel: 072 328 2467
    E-post: per.jacobsson@jejjcop.se
</p>

