@{
    ViewBag.Title = "About";
}

<h1>
    Projects to Date
</h1>

<p>
    Here are some links to some of our most successful projects to date
</p>
  
<ul>
    <li>
        <a href="https://github.com/SinjaSwe/Santa-s-Sokoban.git">Santa Sokoban</a>
        <p>Get into the spirit of Christmas by playing this fun game</p>
    </li>

    <li>
        <a href="https://github.com/SinjaSwe/Hangman-Version-2.git">Hangman</a>
        <p>Play the addictive game hangman to kill some time.</p>
    </li>

    <li>
        <a href="https://github.com/SinjaSwe/ToDoApplication.git">ToDo List</a>
        <p>Need to organise your life? Use our helpful todo list.</p>
    </li>

</ul>
    

